*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 5% 95%;
    /* grid-template-rows: 0 800px; */
    width: 100%;
    /* flex-wrap: wrap; */
    
}
.item1 {
    grid-column: 1;
    grid-row: 1 /span 100;
    
  }



.header{
    display: flex;
    flex-wrap: wrap;
    /* background-color: aqua; */
    /* background-color: antiquewhite; */
    /* height: 900px; */
    /* background-color: black; */
    width: 100%;
    /* gap: 90px; */
    justify-content: space-between;
    padding-top: 15px;
    
}
.header input{
    height: 40px;
    border-radius: 30px;
    padding: 0 40px;
    min-width: 600px;
  padding: 10px 20px;
    border: 1px solid black;
    /* min-width: 400px; */
    /* max-width: 100px; */
}
.header .logo img{
    height: 30px;
}

.center-nav{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
}
.center-nav .search img{
    height: 32px;
    
    /* background-color: blue; */
}
.center-nav .mic img{
    height: 38px;
    padding: 5px 5px;
    margin-left: 30px;
    background-color: rgb(219, 219, 219);
    border-radius: 50%;

}
.right-nav{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.right-nav .bell{
    margin-top: 5px;
}
.nav{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(188, 151, 103); */
    /* justify-content: center;  */
    align-items: center;
    /* gap: 20px; */
    margin-left: 10px;
    text-align: center;
}
.nav .bars {
    margin-top: 25px;
    font-size: 20px;

}
.nav div{
    margin: 10px 0;
}
.nav p{
    font-size: 10px;
}

.item3{
    display: flex;
    gap: 10px;
    margin: 10px ;
    padding-top: 8px;
    border-top: 1px solid #ccc;
}
.item3 button{
    height: 30px;
    width: 70px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.item3 button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
.item3 .all{
    background-color: black;
    color: white;
}
.item4{
    background-color: #f4f3f3;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    
    /* width: 90%; */
    gap: 100px;
    /* grid-template-columns: 30% 30% 30%; */
}
.item4 h2{
    font-size: 15px;
}
.item4 div img{
    max-height: 150px;
    
    
}
.item4 .avatar{
    display: flex;
    font-size: 14px;
}
.item4 .avatar img{
    height: 25px;
    width: 25px;
}
.item4 .avatar{
    margin-top: 10px;
}
.item4 .text {
    margin-left: 27px;

}
.item4 .text p{
    font-size: 13px;
}




